.logo {
  font-size: 3rem;
  text-align: center;
  width: 55%;
  margin-right: 10%;
}
.jumbotronP {
  font-family: "Architects Daughter", cursive;
  color: #f0f485;
  font-size: 3rem;
}
.jumbotronH {
  font-family: "Architects Daughter", cursive;
  color: #f79756;
  font-size: 5.6rem;
  margin-top: 8%;
}
.jumbotron {
  background-image: url("./images/background-img.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.cardH {
  margin-top: 3%;
}
.cardP {
  font-family: "Architects Daughter", cursive;
  font-size: 1.6rem;
}
.card {
  margin-bottom: 6%;
  border: none;
}
